.container{
    width: 500px;
    height: 500px;
    outline: 2px solid blueviolet;
    margin: 30px auto;
    display:flex;
    flex-direction: row;

}

.item{
    width: 250px;
    height: 80px;
    background:blue;
    color:white
    text-align: center
}

